# Logs
*.log
infrastructure/traccar/logs/*

# Python
**/__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
**/venv/
**/.env

# Node
node_modules/
dist/
.env

# OS
.DS_Store
Thumbs.db

# Binaries / large data
SPORT Admin-win32-x64/
infrastructure/brouter/segments4/

# IDE
.vscode/settings.json
.kilo/plans/1777069031707-glowing-comet.md
